<!-- <p>
    Welcome To 
    Github App 
</p>





<form class="search-form">

        <input type="text" placeholder="Enter Github Username">
      </form> -->
      <div class="card mb-9" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="http://anastasionico.uk/img/blog/git-and-github.jpeg" class="card-img" alt=" GitHub Image ">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <!-- <h5 class="card-title">Card title</h5> -->
                  <p class="card-text">Fill in Your GitHub Username in This Form And Get The Number of Followers , and those you follow. Your Location and The Number of Repositories You have and Their Descriptions</p>
                </div>
              </div>
            
            <form class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                            <label for="inputUsername" class="sr-only">Enter GitHub Username</label>
                            <input type="username" class="form-control" id="inputUsername" placeholder="Username">
                          </div>
                          <button type="submit" class="btn btn-primary mb-2">Search</button>
                        </form>
            
        </div>
          </div>
