footer{
    position: relative;
    padding: 13px;
    left: 0;
    bottom:0;
    width: 100%;
    background-color: grey;
    color: black;
    text-align: center;
}
.rep{
    border: solid 1px black;
}
.repo{
    /* text-decoration-line: underline; */
    text-transform: uppercase;
    font-size: 20px;
}
.description{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    
}