<div class="jumbotron">
  <h1 class="display-4 text-center">About GitHub Search App</h1>
  <hr class="my-4">
  <p class="text-justify">An Angular app that let's you  enter a GitHub <br> username into the search Box, submit it,<br> and see your names ,descriptions and public repositories.<br> A person is able to see His/Her : Followers, Followings,<br> Location, Number of Public Repositories <br> and Their Descriptions Respectively.</p>
  <br><br><p class="text-monospace">Feel Free to Give it  Try!</p>
</div>
